.m1 {
	width: 100%;
	background: url(../../Images/banner-bg.jpg)center;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Poppins", sans-serif;
}

.m1-transparent {
	/* height: 750px; */
	background: rgba(4, 9, 30, 0.5);
}

.m1-content {
	width: 74vw;
}

.header-c2 {
	font-size: 12px;
}

.home-m1-rows button:hover {
	color: white;
	border-color: white;
}

.m1r1 {
	font-size: 14px;
	word-spacing: 5px;
}

.m1r2 {
	width: 80%;
	border-color: #d1ab7f;
}

.m1r3 {
	width: 80%;
}

.m3 {
	background-color: #f9f9ff;
}

.m3-head{
	color: #222222;
}

.m3-rows {
	width: 74vw;
}

.m3-r1 {
	color: #777777;
}

.category-cards {
	width: 260px;
	color: #777777;
}

.category-card-image {
	width: 180px;
	height: 180px;
}

.category-card-image img {
	transition: all ease 0.5s;
}

.category-cards:hover .category-card-image img {
	scale: 1.1;
}

.category-cards:hover .category-card-title {
	color: #d1ab7f;
}

.category-card-title {
	transition: all ease 0.5s;
}


/* Css For Blog Section */

.blog-rows {
	width: 74vw;
}

.blog-description {
	width: 48vw;
	color: #777777;
}

.blog-cards {
	gap: 28px;
}

.blog-cards .card {
	cursor: pointer;
}

.blog-cards .card:hover .card-image img {
	scale: 1.1;
}

.blog-cards .card:hover .card-title {
	color: #d1ab7f;
}

.blog-cards .card-image {
	width: 360px;
	height: 220px;
	overflow: hidden;
}

.blog-cards .card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all ease 0.2s;
}

.blog-user {
	border-bottom: 1px solid #eee;
}

.blog-user span {
	color: #222222;
}

.blog-posting-info{
	color: #777777;
}

.blog-cards .card-title {
	line-height: 1.1;
}

.card-description {
	color: #777777;
}


@media (max-width:576px) {
	.m1-content{
		width: 100%;
	}

	.m3-rows{
		width: 100%;
	}

	.blog-cards .card-image{
		width: 100%;
	}
}