.nevbar {
  width: 74vw;
}

.nevbar li {
  color: #222;
  font-size: 13px;
  transition: all ease 0.2s;
}

.nevbar li:hover {
  color: #d1ab7f;
}

.mobile_navbar_Btn {
  display: none;
}

@media (max-width:576px) {
  .nevbar {
    width: 100vw;
  }

  .mobile_navbar_Btn {
    display: block;
  }

  .close_outline {
    display: none;
  }

  .navbar_list {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all ease 0.2s;
    overflow-x: hidden;
    display: none;
  }

  .navbar_list li {
    font-size: 25px;
  }

  .active .mobile_nav_icon {
    display: none;
    position: absolute;
    top: 20;
    right: 20px;
    z-index: 9999;
  }

  .active .close_outline {
    display: block;
  }

  .active .navbar_list{
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transform: translateX(0);
    display: flex;
  }
}