.m2c1 {
  width: 55%;
  margin-left: 200px;
}

.m2c1_r1 {
  color: #d1ab7f;
}

.m2c1_r2 {
  font-size: 36px;
  color: #222222;
  line-height: 1.1;
}

.m2c1_r4 {
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

@media (max-width:576px) {
  .m2c1 {
    width: 100%;
    margin-left: unset;
  }
}