.m7 {
	background-color: #04091e;
}

.m7_rows {
	width: 74vw;
}

.m7r1_c1 {
	max-width: 440px;
}

.m7r1_c1 p {
	line-height: 22px;
}

.m7r1_c2 input {
	width: 350px;
}

.sendBtn{
	background-color: #d1ab7f;
}

.m7r2 span {
	color: #d1ab7f;
}